body {
  font-family: "Poppins", sans-serif;
}
.orang {
  color: orange;
}
h1 {
  font-size: 55px;
}
.display {
  display: flex;
  margin: 150px;
}
.half {
  width: 50%;
  padding-left: 2em;
}
.half img {
  width: 70%;
  padding-left: 50px;
}
.button {
  text-decoration: none;
  background-image: linear-gradient(rgb(97, 25, 231), rgb(77, 17, 7));
  border-radius: 5px;
  padding: 10px 40px;
  color: white;
  font-weight: 700;
}
#stayfocus {
  border-left: solid 7px;
  border-image: linear-gradient(rgb(243, 11, 166), rgb(231, 114, 19));
  border-image-slice: 1;
}
